body {
    background-image: url(images/Golden-fields.jpg) !important;
    background-attachment: fixed;
}

.task div {
    display: inline;
}

.task,
.todo {
    border-color: black;
    margin-bottom: 20px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid grey;
    border-radius: 10px 10px 10px 10px;
    /*background-image: radial-gradient(circle, #87CEEB, #FFFFE0);*/
}

.todo {
    margin-left: auto;
    margin-right: auto;
}

.container-c {
    margin-left: auto;
    margin-right: auto;
}

.project-header div {
    display: inline;
    text-align: center;
}

.task-creating div {
    display: inline-block;
    text-align: center;
}

.container {
    font-size: 15px;
}

.input-edit {
    width: 70%;
    margin: 20px auto;
}

.fa-calendar-alt {
    padding-left: 10px;
    font-size: 25px;
}

.dropdown-toggle {
    margin-top: 10px;
    color: white;
}

.navbar {
    margin-bottom: 0;
    background-color: inherit;
}

.navbar-brand {
    width: 200px;
    margin-bottom: 20px;
    font-weight: 900;
    color: whitesmoke;
}

.fa-angle-up:hover,
.fa-angle-down:hover,
.task_checkbox:hover,
.task_checkbox_done:hover,
.remove-task:hover,
.remove-project:hover {
    cursor: pointer;
}

.task:hover {
    background-color: whitesmoke;
}

.add_task_btn {
    width: 90%;
    float: left;
    background-color: #0088cc;
    color: #fff;
    font-weight: 1000;
    text-shadow: 0px -1px #637169;
    margin-top: 5px;
}

#dropdown {
    color: black;
}

.center {
    position: relative;
}

.navbar-nav>li>a,
.navbar-text,
a.navbar-brand {
    padding-top: 3px;
    padding-bottom: 3px;
}

.project-header {
    border: 1px solid #3490dc;
    width: 100%;
    margin-top: 10px;
    background-image: url(images/texture.jpg);
    color: white;
}

.project-header .fa {
    color: white;
}

.form-control {
    margin-top: 10px;
}

.todo_create {
    background-color: #3490dc;
    color: #fff;
    font-weight: 800;
    border-radius: 10px 10px 10px 10px;
}

.task_checkbox_completed {
    text-decoration: line-through;
}

#dropdown,
.menu_item {
    color: whitesmoke;
}

.menu_item:hover {
    font-weight: bold;
    color: whitesmoke;
}